body {
    background-color: #EE180F;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: top center;
    align-items: top center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.appreciation-message {
    color: #EE180F;
    font-size: 3rem;
    margin-bottom: 1rem;
}
